body {
  background: #222A35;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 8px 8px #54001e;
  min-width: min(500px, 80%);
  border-radius: 9px;
}
.modal_container {
  padding: 20px;
  background-color: #333E4C;
  text-align: center;
  border-radius: 9px;
}
.modal_container h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #FFFFFF;
  padding: 80px 20px 0px 20px;
  margin-bottom: 60px;
  margin-top: 0;
}
.modal_container label {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}
.modal_container .email {
  max-width: min(300px, 50%);
  background-color: #222A35;
  outline: none;
  border: 0;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 10px;
  font-size: 24px;
  padding: 12px 30px 12px 15px;
}
.modal_container .pass {
  max-width: min(300px, 50%);
  background-color: #222A35;
  outline: none;
  border: 0;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 10px;
  font-size: 24px;
  padding: 12px 30px 12px 15px;
}
.modal_container .reg {
  display: flex;
  justify-content: space-around;
}
.modal_container .reg button {
  font-size: 20px;
  margin-bottom: 25px;
  color: #333E4C;
  padding: 16px 90px;
  background: #73F9CF;
  border-radius: 10px;
  font-weight: 700;
}
@media screen and (max-width: 620px) {
  .modal_container .email {
    font-size: 20px;
  }
  .modal_container .pass {
    font-size: 20px;
  }
  .modal_container h1 {
    padding-top: 40px;
    font-size: 20px;
  }
  .modal_container .reg button {
    font-size: min(16px, 90%);
    padding: min(16px, 90%) min(60px, 90%);
  }
}
@media screen and (max-width: 520px) {
  .modal_container .email {
    font-size: 14px;
  }
  .modal_container .pass {
    font-size: 14px;
  }
  .modal_container h1 {
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
  }
}
