@page
@model MainService.Pages.razorPages.IndexModel

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/resources/styles.css">
        <link rel="stylesheet" href="/resources/log_in.css">
        <link rel="stylesheet" href="/resources/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
        <title>Окно авторизации</title>
    </head>
    <body>
    <div class="fixed-overlay fixed-overlay__modal">
        <div class="modal">
            <div class="modal_container">
                <form method="post">
                    <h1>Войдите в аккаунт</h1>
                    <label for="username">Логин:</label>
                    <br>
                        <input type="email" name="email" class="email" placeholder="   example@mail.ru" pattern="'/^[\а-яa-z\-\./d\_]+([\а-яa-z\-/d\_]+\.)+[\а-яa-z\-/d\_]{2,}$/gi;" required>
                    <br>
                    <label for="password">Пароль:</label>
                    <br>
                    <input  type="password" name="password" class="pass" placeholder="    password" required>
                    <div class="reg">
                        <button type="submit" class="submit" >Вход</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
}
